name: cd
on:
  workflow_run:
    workflows: ["ci"]
    types:
      - completed
    branches:
      - main
  workflow_dispatch:  
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Instalar dependencias
        run: npm install

      - name: Build
        run: npm run build

      - name: Instalar Firebase CLI
        run: npm install -g firebase-tools

      - name: Autenticarse con Service Account
        run: |
          echo "${{ secrets.FIREBASE_SERVICE_ACCOUNT_INSIGHTFLOWAPP_37462 }}" > sa.json
          firebase auth:login:ci --token "$(jq -r .private_key sa.json)" || true
          firebase use insightflowapp-37462 --token "${{ secrets.FIREBASE_TOKEN }}"

      - name: Deploy manual
        run: |
          firebase deploy --only hosting --project insightflowapp-37462 --token "${{ secrets.FIREBASE_TOKEN }}"
