name: cd
on:
  workflow_run:
    workflows: ["ci"]
    types:
      - completed
    branches:
      - main
  workflow_dispatch:  
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      - name: Authenticate with Service Account
        run: |
          echo "${{ secrets.FIREBASE_SERVICE_ACCOUNT_INSIGHTFLOWAPP_37462 }}" > sa.json
          export GOOGLE_APPLICATION_CREDENTIALS=sa.json

      - name: Manual deploy to Firebase Hosting
        run: |
          firebase deploy --only hosting --project insightflowapp-37462 --token "${{ secrets.FIREBASE_TOKEN }}"
